---
titles:
{%- for title in titles %}
- {{ title }}
{%- endfor %}
{%- if media or formats or years or genres or artists %}
taxonomies:
  {%- if media %}
  media:
  {%- for medium in media %}
  - {{ medium }}
  {%- endfor %}
  {%- endif %}
  {%- if formats %}
  formats:
  {%- for format in formats %}
  - {{ format }}
  {%- endfor %}
  {%- endif %}
  {%- if genres %}
  genres:
  {%- for genre in genres %}
  - {{ genre }}
  {%- endfor %}
  {%- endif %}
  {%- if years %}
  years:
  {%- for year in years %}
  - {{ year }}
  {%- endfor %}
  {%- endif %}
  {%- if artists %}
  artists:
  {%- for artist in artists %}
  - {{ artist }}
  {%- endfor %}
  {%- endif %}
  {%- if places %}
  places:
  {%- for place in places %}
  - {{ place }}
  {%- endfor %}
  {%- endif %}
  {%- if provenances %}
  provenances:
  {%- for provenance in provenances %}
  - {{ provenance }}
  {%- endfor %}
  {%- endif %}
  {%- if languages %}
  languages:
  {%- for language in languages %}
  - {{ language }}
  {%- endfor %}
  {%- endif %}
{%- endif %}
{%- if collections %}
collections:
{%- for collection in collections %}
- name: {{ collection.name }}
  number: {{ collection.number }}
{%- endfor %}
{%- endif %}
dates:
  published: {{ date }}
  updated: {{ date }}
  {%- if started or finished or old %}
  experienced:
  {%- if old %}
  - ?
  {%- endif %}
  {%- if started or finished %}
  - started: {{ date }}
  {%- else %}
#  - started: {{ date }}
  {%- endif %}
  {%- if finished %}
    finished: {{ date }}
  {%- else %}
#    finished: {{ date }}
  {%- endif %}
  {%- else %}
#  experienced:
#  - started: {{ date }}
#    finished: {{ date }}
  {%- endif %}
{%- if links %}
links:
{%- for link in links %}
- {{ link }}
{%- endfor %}
{%- endif %}
{%- if active %}
active: true
{%- endif %}
---
