<!DOCTYPE html>
<html lang="en-GB">

	<head lang="en">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		<link rel="icon" href="/{% if base %}{{ base }}/{% endif %}book.webp" type="image/x-icon">

		<title>Stories</title>
		<meta name="author" content="Ryan Moodie">
		<meta name="description" content="A record of media and thoughts inspired by them">
		<meta name="color-scheme" content="dark">

		<link rel="stylesheet" href="/{% if base %}{{ base }}/{% endif %}style.css">

		{% block head %}
		{% endblock head %}
	</head>

	<body>
		<header class="bar">
			<nav class="row small-gap">
				<a href="/{% if base %}{{ base }}/{% endif %}">About</a>
				{% for page in ["entries", "collections", "taxonomies"] %}
				<a href="/{% if base %}{{ base }}/{% endif %}{{ page }}/">{{ page | capitalize }}</a>
				{% endfor %}
				<a href="/{% if base %}{{ base }}/{% endif %}licence.html">Legal</a>
			</nav>
		</header>

		<main>
			{% block main %}
			{% endblock main %}
		</main>

		{% block module %}
		{% endblock module %}
	</body>

</html>

