{% extends "base.html.jinja2" %}

{% block main %}
<h2>{{ meta.titles[0] }}</h2>

<div class="column medium-gap">
	{% if meta.intersections %}
	<div class="row small-gap">
		<span>∩:</span>
		{% for intersection in meta.intersections | sort %}
		<a href="{{ intersection | slugify }}.html" class="tag">{{ intersection }}</a>
		{% endfor %}
	</div>
	{% endif %}

	{% if meta.links %}
	<div class="row small-gap">
		{% for link in meta.links %}
		<a href="{{ link }}" class="tag">{{ link.split("/")[2] }}</a>
		{% endfor %}
	</div>
	{% endif %}

	{% if meta.description %}
	<p class="italic">{{ meta.description }}</p>
	{% endif %}
</div>

{% if html %}
<div>
	{{ html }}
</div>
{% endif %}

<br/>

<ul class="column small-row-gap">
	{% for entry in meta.entries | sort(attribute="number") %}
	<li>
		<a href="../entries/{{ entry.slug }}.html">{{ entry.title }}</a> ({{ entry.year }} {% for medium in entry.media %}{{ medium }}{% if entry.media | length != loop.index %}/{% endif %}{% endfor %})
	</li>
	{% endfor %}
</ul>
{% endblock main %}
