{% extends "base.html.jinja2" %}

{% block head %}
<link rel="stylesheet" href="../bundle.css">
{% endblock head %}

{% block main %}
<h2>Entries</h2>

<div id="app">
</div>
{% endblock main %}

{% block module %}
<script type="module" src='../entries_index.js'></script>
{% endblock module %}
