{% extends "base.html.jinja2" %}

{% block main %}
<h2>{{ meta.titles[0] }}</h2>

<div class="column medium-gap">
	{% if meta.titles | length > 1 %}
	<div class="row small-gap">
		{% for alt_title in meta.titles[1:] %}
		<span class="tag">{{ alt_title }}</span>
		{% endfor %}
	</div>
	{% endif %}

	{% if meta.collections %}
	<div class="row small-gap">
		{% for pair in meta.collections %}
		<a href="../collections/{{ pair.name | slugify }}.html" class="tag">{{ pair.name }} #{{ pair.number }}</a>
		{% endfor %}
	</div>
	{% endif %}

	{% if meta.taxonomies or meta.links %}
	<div class="row small-gap">
		{% if meta.taxonomies %}
		{% for taxonomy, list in meta.taxonomies.items() %}
		{% for item in list %}
		<a href="../taxonomies/{{ taxonomy }}/{{ item | slugify }}.html" class="tag">{{ item }}</a>
		{% endfor %}
		<span></span>
		{% endfor %}
		{% endif %}
		{% if meta.links %}
		{% for link in meta.links %}
		<a href="{{ link }}" class="tag">{{ link.split("/")[2] }}</a>
		{% endfor %}
		<span></span>
		{% endif %}
	</div>
	{% endif %}

	{% if meta.dates %}
	<div class="row small-gap">
		{% if meta.dates.published %}
		<span class="tag">+ {{ meta.dates.published | date_format }}</span>
		{% endif %}
		{% if meta.dates.updated and meta.dates.updated > meta.dates.published %}
		<span class="tag">^ {{ meta.dates.updated | date_format }}</span>
		{% endif %}
		{% if meta.dates.experienced %}
		{% for pair in meta.dates.experienced %}
		<span class="tag">@ {{ pair.started }} – {{ pair.finished }}</span>
		{% endfor %}
		{% endif %}
	</div>
	{% endif %}

	{% if meta.description %}
	<p class="italic">{{ meta.description }}</p>
	{% endif %}
</div>

<div>
	{{ html }}
</div>
{% endblock main %}
