{% extends "base.html.jinja2" %}

{% block main %}
<h2>Taxonomies</h2>

<p class="weak">
	{{ taxonomies | length }} taxonomies comprising {{ total }} items
</p>

<div class="column medium-row-gap">
	{% for taxonomy, items in taxonomies.items() | sort %}
	<span>
		<a class="tag" href="{{ taxonomy | slugify }}/">{{ taxonomy | capitalize }}</a>
		<span class="weak">({{ items | length }})</span>
	</span>
	{% endfor %}
</div>
{% endblock main %}
