{% extends "base.html.jinja2" %}

{% block main %}
<h2>{{ name | capitalize }}</h2>

<p class="weak">
	{{ items | length }} items
</p>

<div class="column medium-row-gap">
	{% for slug, item in items.items() | sort %}
	<span>
		<a class="tag" href="{{ slug }}.html">{{ item.name }}</a>
		<span class="weak">({{ item.entries | length }})</span>
	</span>
	{% endfor %}
</div>

{% endblock main %}
