{% extends "base.html.jinja2" %}

{% block main %}
<h2>{{ name }}</h2>

<div>
	{{ html }}
</div>

<p class="weak">
	{{ entries | length }} entries
</p>

<ul class="column small-row-gap">
	{% for entry in entries %}
	<li>
		<a href="../../entries/{{ entry.slug }}.html">{{ entry.name }}</a>
		<span class="weak">
			({{ entry.year }}
			{% for medium in entry.media %}{{ medium }}{% if entry.media | length != loop.index %}/{% endif %}{% endfor %})
		</span>
	</li>
	{% endfor %}
</ul>
{% endblock main %}
