:root {
  /* https://github.com/nealmckee/penumbra */

  /* dark balanced */
  /* --?: #FFFDFB; /1* sun+ *1/ */
  /* --strong: #fff7ed; /1* sun *1/ */
  /* --?: #F2E6D4; /1* sun- *1/ */
  --strong: #bebebe; /* sky+ */
  --text: #8f8f8f; /* sky */
  --weak: #636363; /* sky- */
  /* --foreground: #3E4044;  /1* shade+ *1/ */
  --background: #303338; /* shade */
  --foreground: #24272b; /* shade- */

  /* 4 accent colours from 8 colour palette */
  --red: #ca736c;
  /* --orange: #ba823a; */
  --yellow: #8d9741;
  /* --green: #47a477; */
  --cyan: #00a2af;
  /* --blue: #5794d0; */
  --purple: #9481cc;
  /* --magenta: #bc73a4; */

  --margin: 1ex;

  --small-gap: 1ex;
  --medium-gap: 1em;
}

body {
  color: var(--text);
  background-color: var(--background);
  margin: 0;
}

main {
  margin: var(--margin) var(--margin);
}

a {
  text-decoration: none;
}

a:link {
  color: var(--cyan);
}

a:visited {
  color: var(--purple);
}

a:focus {
  color: var(--red);
}

a:hover {
  color: var(--red);
}

a:active {
  color: var(--yellow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--strong);
}

.bold {
  font-weight: bold;
  color: var(--strong);
}

.italic {
  font-style: italic;
}

.weak {
  color: var(--weak);
}

.tag {
  border-radius: 4px;
  padding: 2px 7px;
  white-space: nowrap;
  background-color: var(--foreground);
}

.bar {
  padding: var(--margin) var(--margin);
  background-color: var(--foreground);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.small-gap {
  gap: var(--small-gap);
}

.medium-gap {
  gap: var(--medium-gap);
}

.small-column-gap {
  column-gap: var(--small-gap);
}

.medium-column-gap {
  column-gap: var(--medium-gap);
}

.small-row-gap {
  row-gap: var(--small-gap);
}

.medium-row-gap {
  row-gap: var(--medium-gap);
}

.centre-object {
  margin: auto;
}
