<script>
  import Sort from "./Sort.svelte";
  import { date_format, slugify } from "./meta.js";
  import collections_init from "./collections_index.json";

  let sortType,
    collections = collections_init;

  const sortTypes = {
    Title: (a, b) => a.name > b.name,
    Count: (a, b) => a.count < b.count,
  };
</script>

<div>
  <Sort bind:entries={collections} {sortTypes} cache="Collections" />
</div>

<p class="weak">
  {collections.length} collections
</p>

<div class="column medium-row-gap">
  {#each collections as collection}
    <span>
      <a class="tag" href={`${collection.slug}.html`}>{collection.name}</a>
      <span class="weak">({collection.count})</span>
    </span>
  {/each}
</div>

<style>
</style>
