<script>
  export let date, prev;
</script>

{#if !date}
  <span />
  <span />
  <span />
{:else if date instanceof Date}
  <span>
    {#if !(prev instanceof Date) || prev.getFullYear() !== date.getFullYear()}
      {date.getFullYear()}
    {/if}
  </span>
  <span class="right-align">
    {#if !(prev instanceof Date) || prev.getMonth() !== date.getMonth()}
      {date.toLocaleDateString(undefined, { month: "short" })}
    {/if}
  </span>
  <span class="right-align">
    {#if !(prev instanceof Date) || prev.getDate() !== date.getDate()}
      {date.getDate()}
    {/if}
  </span>
{:else}
  <span />
  <span />
  <span> {date instanceof Date ? date.getDate() : date} </span>
{/if}

<style>
  .right-align {
    text-align: right;
  }
</style>
