<script>
  import Date from "./Date.svelte";
  import Sort from "./Sort.svelte";
  import Entry from "./Entry.svelte";
  import Inexclude from "./Inexclude.svelte";
  import { capitalise, date_format } from "./meta.js";
  import entries_init from "./entries.json";
  import collections from "./collections_index.json";
  import taxonomies from "./taxonomies_index.json";

  function personalPremiere(experiences) {
    const first = experiences[0];
    return typeof first === "object" && first.started;
  }

  function lastExperienced(experiences) {
    const last = experiences[experiences.length - 1];
    return (
      typeof last === "object" && (last.finished ? last.finished : last.started)
    );
  }

  function sortExperience(e0, e1, select) {
    const x0 = e0.meta.dates.experienced,
      x1 = e1.meta.dates.experienced;

    if ([x0, x1].every((x) => x instanceof Array)) {
      const d0 = select(x0);
      if (d0 === "?") {
        return true;
      }
      const d1 = select(x1);
      if (d1 === "?") {
        return false;
      }
      return d0 < d1;
    } else {
      return x0 === undefined;
    }
  }

  function personalPremiereDate(entry) {
    const first = entry.meta.dates.experienced[0];
    return typeof first !== "object" ? first : first.started;
  }

  function lastExperiencedDate(entry) {
    const last =
      entry.meta.dates.experienced[entry.meta.dates.experienced.length - 1];

    return typeof last !== "object"
      ? last
      : last.finished
      ? last.finished
      : last.started;
  }

  function applyFilters(filters_, filterStates_) {
    for (const i in entries) {
      entries[i].hidden = Object.entries(filterStates_).some(([k, t]) => {
        if (t.include) {
          return !filters_[k].test(entries[i], t.selected);
        } else if (t.exclude) {
          return filters_[k].test(entries[i], t.selected);
        }
      });
    }
  }

  function saveFilters(filterStates_) {
    sessionStorage.setItem("filtersEntries", JSON.stringify(filterStates_));
  }

  function advanced_filters(filters_) {
    return Object.entries(filters_).reduce(
      (acc, [f, d]) => (d.options ? [...acc, f] : acc),
      []
    );
  }

  function simple_filters(filters_) {
    return Object.entries(filters_).reduce(
      (acc, [f, d]) => (!d.options ? [...acc, f] : acc),
      []
    );
  }

  let sortType,
    entries = entries_init,
    filterStates = {};

  const sortTypes = {
    Title: (a, b) => a.meta.titles[0] > b.meta.titles[0],
    "Add date": (a, b) => a.meta.dates.published < b.meta.dates.published,
    "Edit date": (a, b) => a.meta.dates.updated < b.meta.dates.updated,
    "Release year": (a, b) =>
      !(
        a.meta.taxonomies.years.includes("unreleased") ||
        b.meta.taxonomies.years.includes("unreleased")
      )
        ? Math.min(...a.meta.taxonomies.years) <
          Math.min(...b.meta.taxonomies.years)
        : b.meta.taxonomies.years.includes("unreleased"),
    "Personal premiere": (a, b) => sortExperience(a, b, personalPremiere),
    "Last experienced": (a, b) => sortExperience(a, b, lastExperienced),
  };

  const filters = {
    experienced: { test: (a) => a.meta.dates.experienced },
    active: { test: (a) => a.meta.active },
    discussed: { test: (a) => a.meta.mins },
    released: {
      test: (a) => !a.meta.taxonomies.years.includes("unreleased"),
    },
    completed: {
      test: (a) =>
        a.meta.completed ||
        (a.meta.dates.experienced &&
          a.meta.dates.experienced.some((e) => e.finished || e === "?")),
    },
    collection: {
      test: (entry, collection) =>
        entry.meta.collections
          ? entry.meta.collections.map((c) => c.name).includes(collection)
          : false,
      options: collections.map((c) => c.name),
    },
    medium: {
      test: (entry, medium) => entry.meta.taxonomies.media.includes(medium),
      options: taxonomies.media,
    },
    format: {
      test: (entry, format) => entry.meta.taxonomies.formats.includes(format),
      options: taxonomies.formats,
    },
  };

  if (sessionStorage.getItem("filtersEntries")) {
    filterStates = JSON.parse(sessionStorage.getItem("filtersEntries"));
    applyFilters(filters, filterStates);
  } else {
    for (const filter in filters) {
      filterStates[filter] = { exclude: false, include: false };
    }

    for (const filter of advanced_filters(filters)) {
      filterStates[filter].selected = "";
    }
  }
</script>

<div class="row medium-gap top-align">
  <Sort bind:entries {sortTypes} bind:sortType cache="Entries" />

  <span class="filters-simple">
    <span class="bold">Status</span>
    <span class="centre-text">∈</span>
    <span class="centre-text">∉</span>
    {#each simple_filters(filters) as filter}
      <span>{capitalise(filter)}</span>
      <Inexclude
        bind:include={filterStates[filter].include}
        bind:exclude={filterStates[filter].exclude}
        {filter}
        applyFilters={() => {
          applyFilters(filters, filterStates);
          saveFilters(filterStates);
        }}
      />
    {/each}
  </span>

  <span class="filters-advanced">
    <span class="bold">Filter</span>
    <span />
    <span class="centre-text">∈</span>
    <span class="centre-text">∉</span>

    {#each advanced_filters(filters) as filter}
      <span>{capitalise(filter)}</span>
      <select
        bind:value={filterStates[filter].selected}
        on:change={() => {
          if (!(filterStates[filter].include || filterStates[filter].exclude)) {
            filterStates[filter].include = true;
          }
          applyFilters(filters, filterStates);
          saveFilters(filterStates);
        }}
      >
        <option value="" disabled hidden selected>Select {filter}</option>
        {#each filters[filter].options as option}
          <option value={option}>{option}</option>
        {/each}
      </select>
      <Inexclude
        bind:include={filterStates[filter].include}
        bind:exclude={filterStates[filter].exclude}
        {filter}
        applyFilters={() => {
          applyFilters(filters, filterStates);
          saveFilters(filterStates);
        }}
      />
    {/each}
  </span>
</div>

<p class="weak">
  {entries.filter((e) => !e.hidden).length} entries
</p>

{#if ["", "Title", "Release year"].includes(sortType)}
  <ul class="column small-row-gap">
    {#each entries as entry}
      <li hidden={entry.hidden}>
        <Entry {entry} />
      </li>
    {/each}
  </ul>
{:else}
  <div class="four-columns small-row-gap small-column-gap">
    {#each entries as entry, i}
      {#if !entry.hidden}
        {#if sortType === "Add date"}
          <Date
            date={entry.meta.dates.published}
            prev={i > 0 ? entries[i - 1].meta.dates.published : false}
          />
        {:else if sortType === "Edit date"}
          <Date
            date={entry.meta.dates.updated}
            prev={i > 0 ? entries[i - 1].meta.dates.updated : false}
          />
        {:else if sortType === "Personal premiere"}
          <Date
            date={entry.meta.dates.experienced
              ? personalPremiereDate(entry)
              : false}
            prev={i > 0 && entries[i - 1].meta.dates.experienced
              ? personalPremiereDate(entries[i - 1])
              : false}
          />
        {:else if sortType === "Last experienced"}
          <Date
            date={entry.meta.dates.experienced
              ? lastExperiencedDate(entry)
              : false}
            prev={i > 0 && entries[i - 1].meta.dates.experienced
              ? lastExperiencedDate(entries[i - 1])
              : false}
          />
        {/if}
        <span>
          <Entry {entry} />
        </span>
      {/if}
    {/each}
  </div>
{/if}

<style>
  .filters-simple {
    display: inline-grid;
    grid-template-columns: 1fr auto auto;
    column-gap: 3pt;
    row-gap: 2pt;
    align-items: center;
  }

  .filters-advanced {
    display: inline-grid;
    grid-template-columns: 1fr auto auto auto;
    column-gap: 3pt;
    row-gap: 2pt;
    align-items: center;
  }

  .top-align {
    align-items: start;
  }

  .centre-text {
    text-align: center;
  }

  .four-columns {
    display: grid;
    grid-template-columns: repeat(3, min-content) 1fr;
  }
</style>
