<script>
  export let entry = {};
</script>

<a href={`${entry.slug}.html`}>{entry.meta.titles[0]}</a>
<span class="weak">
  ({entry.meta.taxonomies.years[0]}
  {#each entry.meta.taxonomies.media as medium, i}{#if i != 0}/{/if}{medium}{/each})
</span>

<style>
</style>
