<script>
  export let sortTypes = {},
    entries = [],
    sortType = "",
    cache,
    reverse;

  if (sessionStorage.getItem(`sortType${cache}`)) {
    sortType = sessionStorage.getItem(`sortType${cache}`);
    entries = entries.sort(sortTypes[sortType]);
  }

  if (sessionStorage.getItem(`reverse${cache}`) === null) {
    reverse = false;
  } else {
    reverse = JSON.parse(sessionStorage.getItem(`reverse${cache}`));
    if (reverse) {
      entries = entries.reverse();
    }
  }
</script>

<span class="row medium-gap">
  <label for="sort" class="bold"> Sort </label>

  <span class="column small-row-gap">
    <select
      id="sort"
      bind:value={sortType}
      on:change={() => {
        entries = entries.sort(sortTypes[sortType]);
        sessionStorage.setItem(`sortType${cache}`, sortType);
        if (reverse) {
          entries = entries.reverse();
        }
      }}
    >
      <option value="" disabled hidden selected>Select sort</option>
      {#each Object.keys(sortTypes) as st}
        <option value={st}>{st}</option>
      {/each}
    </select>

    <span class="centre-object">
      <label for="reverse"> Reverse </label>
      <input
        type="checkbox"
        on:click={() => {
          sessionStorage.setItem(`reverse${cache}`, JSON.stringify(!reverse));
          entries = entries.reverse();
        }}
        bind:checked={reverse}
        id="reverse"
      />
    </span>
  </span>
</span>

<style>
</style>
